<section id="video-block" class="fullscreen">
  <!-- Adjust video height and width -->
  <!-- Embed Video as Background-->
  <div style="width:initial;" >
    <video autoplay loop id="video-background" muted >
      <source src="/intro-video2.mp4">
    </video>
  </div>
</section>

<div class="front-page-title">
  <h1>The <img src="maple-leaf-sketch.gif" class="maple">aple Road</h1>
  <!-- <hr> -->
  <h2>YOUR EXPRESS ENTRY CALCULATOR FOR IMMIGRATION TO CANADA</h2>
  <!-- <h2>immigration to Canada</h2> -->
</div>
<button class="start-assessment">
  <p><%= link_to "START ASSESSMENT", new_assessment_path %></p>
</button>
<button class="start-assessment">
  <p><%= link_to "CREATE YOUR ACCOUNT", new_user_path %></p>
</button>