<div class="front-page-title">
  <h1>The Maple Road</h1>
  <h2>Your Express Entry Calculator for Immigration to Canada</h2>
</div>
	<button class="start-assessment">

	<p><%= link_to "Start Assessment", new_assessment_path%></p>

	</button>
