<h1>Candidates#create</h1>
<p>Find me in app/views/candiates/create.html.erb</p>
<h2>Summary Page</h2>
<script type="text/javascript">
  $("h2").click(function(){
   var $h2=$('h2'), isEditable=$h2.is('.editable');
   $h2.prop('contenteditable',!isEditable).toggleClass('editable')
})  
</script>
<section id="summary_table">
  <div class= "container_summary">
    <div class= "row_summary">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="summary_start">
          <div class="summary_header">Your Assessment details</div>
          <div class="summary_list">
            <ul class="summary_ul">
              <li>Age</li>
              <li><%= @candidate_age%></li>
              <li><%= @candidate_age_points%></li>
              <li>Education</li>
              <li><%= @candidate.edu_level.name_of_edu_level%></li>
              <li><%= @candidate_edu_points %></li>
            </ul>
          </div>
          </div>
        </div>
       <div class="col-md-4 col-sm-12 col-xs-12">
         <div class="summary_start">
           <div class="summary_header">Points of improvement</div>
           <div class="summary_list">
            <ul class="summary_ul">
              <li>candidate points</li>
              <li>candidate age</li>
              <li>candidate edu</li>
              <li>candidate cdn work</li>
              <li>candidate adaot ed cdn xp</li>
            </ul>
           </div>
         </div>
       </div>
       <div class="col-md-4 col-sm-12 col-xs-12">
         <div class="summary_start" id= "fiddle_summary">
           <div class="summary_header"> Fiddle with it</div>
           <div class="summary_list" id= "fiddle_list">
             <ul class="summary_ul" id= "fiddle_ul">
              <li>candidate points</li>
              <li>candidate age</li>
              <li>candidate edu</li>
              <li>candidate cdn work</li>
              <li>candidate adaot ed cdn xp</li>
             </ul>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
