<h1>Candiates#create</h1>
<p>Find me in app/views/candiates/create.html.erb</p>
<div>
  <% @candidate1 = @assessment.candidates.first %>
  <% @candidate2 = @assessment.candidates.second %>

  <% if @candidate1 && @candidate2 && @candidate1.points > @candidate2.points %>
    <p>The main candidate for this application is: <% @candidate1 %></p>
  <%else%>
    <p>The main candidate for this application is: <% @candidate2 %></p>
  <% end %>


  <table>
    <tr>
      <td>bla</td>
    </tr>
  </table>
</div>