<h1>Candiates#create</h1>
<p>Find me in app/views/candiates/create.html.erb</p>
<div>
The main candidate for this application is 
  <table>
    <% @candidate. %>
    <tr>
      <td><%= skill.kategorien %></td>
      <td><%= expected_qualification.sollqualifikation %></td>
      <td><%= current_qualification.istqualifikation %></td>
    </tr>
    <% end %>
  </table>
</div>