<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    $(function () {
      var data = [];
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45
            }
        },
        title: {
            text: 'Assessment Points'
        },
        subtitle: {
            text: 'Overview for each requirement'
        },
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Points',
            data: data   
        }]
    });

    // $('#education-button').click(function () {
    //     var chart = $('#container').highcharts();
    //     data.push(['Education', 100]);
    //     chart.series[0].setData(data, true);
    // });
    // the button action
    $('#foreign-experience-one-or-two-check').click(function () {
        var chart = $('#container').highcharts();
        data.push(['Foreign Experience', 50]);
        chart.series[0].setData(data,true);
    })
});
    </script>
  <div class="container">
    <div class="row personal-forms">
      <div class="col-md-6 left-side-form">

        <form method="post" action="/assessments/<%= @id %>/candidates">
          <input type="hidden" name="assessment_id" value="<%= @id %>">
         
          <div id="candidate-1-firt-name">
            <label>First Name</label>
            <input type="text" name="candidate[first_name]" value="" placeholder="Name" ="">
          </div>

          <!-- <div id="candidate-1-middle-name">
            <label> Middle Name </label>
            <input type="text" name="candidate[middle_name]">  
          </div>

          <div id="candidate-1-last-name">
            <label>Last Name</label>
            <input type="text" name="candidate[last_name]">
          </div>

          <div id="candidate-1-dob">
            <label>Date of Birth</label>
            <input type="date" name="candidate[dob]">
          </div> -->
  <!--
          <div id="candidate-1-country">
            <label>Country of Residence</label>
            <input type="" name="">
          </div> -->

          <!-- <div id="candidate-1-occupation">
            <label>Occupation</label>
            <input type="text" name="candidate[occupation]">   
          </div>

          <div id="candidate-1-funds">
            <label>Funds</label>
            <input type="text" name="candidate[funds]">
          </div>

          <div id="candidate-1-spouse">
            <label>I am applying with my spouse / common-law</label>
            <input type="checkbox" name="candidate[is_married]">
          </div>


          <div id="candidate-1-kids">
            <label>Kid(s)</label>
            <input type="text" name="primary-kids">
          </div>

          <div id="candidate-1-foreign-experience-one-or-two-check">
            <label>I have two years or less than two years of foreign work experience</label>
            <input type="checkbox" name="primary-foreign-experience-one-or-two-check">
          </div>

          <div id="candidate-1-foreign-experience-three-or-more-check">
            <label>I have three or more years of foreign work experience</label>
            <input type="checkbox" name="primary-foreign-experience-three-or-more-check">
          </div>

          <div id="candidate-1-cdn-xp-none">
            <label>I have no Canadian work experience</label>
            <input type="checkbox" name="primary-cdn-xp-none">
          </div>

          <div id="candidate-1-cdn-xp-years">
            <label>Enter amount of years of Canadian work experience</label>
            <input type="number" value="1" name="primary-cdn-xp-years">
          </div>
          <div id="candidate-1-cdn-xp-visited">
            <label>I have visited Canada</label>
            <input type="checkbox" name="primary-cdn-xp-visited">
          </div>

          <div id="candidate-1-cdn-fr-en-studies">
            <label>I have studied French or English in Canada</label>
            <input type="checkbox" name="primary-cdn-fr-en-studies">
          </div>

          <div id="candidate-1-cdn-xp-ps-greater-than-one">
            <label>I have studied post-secondary education in Canada and completed a credential of a least 1 year</label>
            <input type="checkbox" name="primary-cdn-xp-ps-greater-than-one">   
          </div>

          <div id="candidate-1-cdn-xp-work-greater-than-one">
            <label>I have worked full-time for more than one year in a skilled position in Canada</label>
            <input type="checkbox" name="primary-cdn-xp-work-greater-than-one">
          </div>

          <div id="candidate-1-cdn-xp-work-permit-paid">
            <label>My Canadian skilled work experience was paid, gained after I completed my studies, with a Work Permit, and within the last 3 years</label>
            <input type="checkbox" name="primary-cdn-xp-work-permit-paid">
          </div>

          <div id="candidate-1-cdn-xp-work-perm-dli">
            <label>My Canadian post-secondary studies were completed with a vaild Study Permit at a Designated Learning Instition</label>
            <input type="checkbox" name="primary-cdn-xp-work-perm-dli">
          </div> -->

          <input type="submit" name="Submit" value="Submit">
        </form>

        <div class="container">
          <div class="col-md-6 graphs">
            <p>
            <div id="container" style="height: 400px"></div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
