#video-background {
/*  making the video fullscreen  */
  position: absolute;
  display: block;  
  right: 0; 
  bottom: -50;
  min-width: 100%; 
  min-height: 100%;
  width: auto;   
  height: auto;  
  z-index: -1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
  opacity: 0.7;
}
/*main navigation*/
.navbar{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}
/*footer*/
footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: #f8f8f8;
  padding: 20px;
}
body{
  text-align: center;
}

.front-page-title{
  margin-top: 5%;
  color: #750000;
}

.front-page-title h1{
  font-family: 'Lobster', cursive;
  font-size: 6em;
  letter-spacing: 4px;
}

.front-page-title h2{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 2em;
  letter-spacing: 6px;
}

.start-assessment{
  margin-bottom: 100px;
  margin-top: 10%;
  margin-left: 100px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 4px solid;
  background: transparent;
}

.start-assessment p{
  font-size: 2em;
}
.start-assessment p a{
  font-weight: bolder;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  color: #750000;
}
.start-assessment p a:hover{
  color: black;
}

.special-btn{
  font-family: 'Lobster', cursive;
  font-size: 2.2em;
  color: #750000;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: none;
}

.left-side-form{
  text-align: left;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  overflow: auto;
}

.personal-forms{
  padding-top: 70px;
  padding-bottom: 100px;
}

img.maple{
  width: 9%;
  height: 9%;
}