#video-background {
/*  making the video fullscreen  */
  position: absolute;
  display: block;  
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: initial;   
  height: auto;  
  z-index: 1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}
/*main navigation*/
.navbar{
  width: 100%;
}
/*footer*/
footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: #f8f8f8;
}
body{
  text-align: center;
}